{"http_interactions":[{"request":{"method":"get","uri":"https://www.breakout.tld/v1/ticket_reports","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"X-Api-Key":["\u003cAPI_KEY\u003e"], "X-Api-Secret":["\u003cAPI_SECRET\u003e"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "Content-Type":["text/plain"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 25 Sep 2014 17:32:46 GMT"}],"recorded_with":"VCR 2.9.3"}